neriva.ru, www.neriva.ru {
    encode zstd gzip
    reverse_proxy 127.0.0.1:3000
}

poliglotai.ru, www.poliglotai.ru, poliglotai.online, www.poliglotai.online {
    redir https://neriva.ru{uri} permanent
}
